/* ======================== 
   Reset and base styles 
======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ========================
   Layout container 
======================== */
.container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  background-color: #ffffff;
  width: 18.75rem;
  min-width: 13.75rem;
  border-right: 2px solid #e4ebfa;
}

.launch-sidebar {
  background-color: #f4f7fd;
  width: 100%;
  flex-grow: 1;
}

/* ======================== 
   Sidebar logo and boards 
======================== */
.logo {
  margin-bottom: 1.25rem;
  padding: 1.875rem 0 0 1.875rem;
  display: flex;
  justify-content: flex-start;
}

.logo-icon {
  width: 75%;
  cursor: pointer;
}

.logo-mobile {
  display: none; /* Hidden on desktop; shown on smaller screens */
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.board h4 {
  margin-bottom: 0.9375rem;
  padding-left: 2rem;
}

h4 {
  color: #828fa3;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.15rem;
}

.board-btn {
  display: block;
  background-color: #635fc7;
  line-height: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.9375rem;
  width: 90%;
  height: 3rem;
  border-bottom-right-radius: 6.25rem;
  border-top-right-radius: 6.25rem;
  border: none;
  cursor: pointer;
}

.board-btn:hover,
.new-task-btn:hover,
.plus-btn:hover {
  background-color: #a8a4ff;
}

/* ========================
   Header and board list 
======================== */
header {
  background-color: #ffffff;
  color: #000112;
  padding: 2.125rem 1.25rem 1.25rem 1.25rem;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  border-bottom: 2px solid #e4ebfa;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.new-task-btn {
  background-color: #635fc7;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 1.25rem;
  padding: 10px 12px;
}

.plus-btn {
  display: none;
  background-color: #635fc7;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.9375rem;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.board-list {
  display: flex;
  gap: 0.9375rem;
}
